<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Route all requests not pointing to an actual file to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /public/index.php [QSA,L]
</IfModule>