<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle API requests directly
    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^(.*)$ /public/index.php [QSA,L]

    # Redirect to the public directory for non-API requests
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Route all non-file requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /public/index.php [QSA,L]
</IfModule>
